.bg-image {
  background-image: url(bg/sample.png);
  height: 9vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-updates {
  padding: 60px 0 45px;
}

.blog-updates .jumbotron {
  font-size: 3rem;
}
