.bg-image {
  background-image: url(bg/sample.png);
  height: 9vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#author {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
}

.author-content img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  margin: 0 auto;
}

#author h1 {
  margin: 16px 0;
}

.paragraphs {
  padding: 0 24px;
}

.paragraphs p {
  text-align: justify;
}

#borderText {
  border-top: 1px solid #000;
  padding-top: 24px;
}

/* bookInfo */
.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 36px 0;
}

.imgWorkBook {
  border-radius: 25px;
  width: 40%;
  height: 30%;
}

#dropdownBuyButton {
  margin: 24px 0;
}

.quote {
  border: 1px solid #000;
  padding: 24px;
  margin: 36px 0 24px;
}

.jumbotron {
  margin: 36px 0 0;
}

/* TOS CSS */
.main-container h5 {
  margin: 16px 0;
}

@media (max-width: 767px) {
  .imgWorkBook {
    width: 90%;
    height: 90%;
  }
}
