@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* NAVBAR INITIAL*/
nav.navbar {
  background-color: transparent;
  transition: background-color 0.3s;
}

nav {
  --bs-navbar-padding-y: 0.6rem !important;
}

button.navbar-toggler {
  background-color: #fff;
}

.navbar-nav li a,
a.navbar-brand {
  color: #fff;
  transition: color 0.3s;
}

a.navbar-brand {
  font-weight: bolder;
}

#imgLogo {
  width: 70px;
  border-radius: 25px;
}

.nav-item {
  margin-right: 40px;
  display: flex;
  align-items: center;
}

nav.sticky .navbar-nav li a,
nav.sticky .navbar-brand,
nav.sticky #active {
  color: #000;
}

nav.sticky #admin {
  color: #000;
  border: 1px solid black;
}

.nav-link {
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  color: #031d44;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.listsRow ul li a,
#TOS,
#privacyPolicy {
  display: inline-block;
  position: relative;
}

.nav-link:hover,
#active {
  opacity: 1;
}

.nav-link::before,
.listsRow ul li a::before,
#TOS::before,
#privacyPolicy::before {
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: #000;
}

.nav-link::before,
.listsRow ul li a::before,
#TOS::before,
#privacyPolicy::before {
  width: 0%;
  bottom: 0;
}

.nav-link:hover::before,
.listsRow ul li a:hover::before,
#TOS:hover::before,
#privacyPolicy:hover::before {
  width: 95%;
}

/* Sticky Navbar */
nav.sticky {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#admin {
  border: 1px solid #fff;
  color: #fff;
}

.nav-item .dropdown-menu {
  background-color: #000;
}

.nav-item .dropdown-menu .dropdown-item {
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

.nav-item .dropdown-menu .dropdown-item:hover,
.nav-item .dropdown-menu .dropdown-item:focus {
  background-color: #fff;
  color: #000;
}

nav.sticky .nav-item .dropdown-menu {
  background-color: #fff;
}

nav.sticky .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: #000;
  color: white;
}

nav.sticky .nav-item .dropdown-menu .dropdown-item {
  color: #000;
}

.dropdown-menu .dropdown-item {
  padding: 0.5rem 1rem;
}

/* FOOTER */
footer h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

footer ul {
  padding-left: 0;
  list-style: none;
}

footer #lists {
  display: flex;
  flex-direction: row;
}

.listsRow {
  flex-direction: column;
}

#listRow2 {
  margin: 0 auto;
}

footer ul li {
  margin-bottom: 0.25rem;
}

footer ul li a {
  color: #000;
  text-decoration: none;
}

footer .btn-warning {
  color: #000;
  background-color: #ffc107;
}

footer .social-icons a {
  font-size: 1.5rem; /* Larger icons */
  margin-right: 1rem;
}

footer .social-icons a:last-child {
  margin-right: 0;
}

footer .row + .row {
  border-top: 1px solid #333;
  padding-top: 1rem;
  margin-top: 1rem;
}

.form-inline {
  display: flex;
}

.form-inline input {
  margin-right: 26px;
}

#utility-right {
  display: flex;
  justify-content: end;
}

#utility-right a {
  text-decoration: none;
}

#TOS {
  margin-right: 8px;
}

/* Adjustments for smaller screens */
@media (max-width: 767px) {
  /* FOOTER */
  footer .social-icons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

  footer .form-inline {
    flex-direction: column;
    align-items: stretch;
  }

  footer .btn-warning {
    width: 100%;
  }

  footer .row + .row {
    text-align: center;
  }

  #utility-right {
    justify-content: center;
  }
}

@media (max-width: 991px) {
  /* Custom styling for mobile devices */
  .navbar-nav .nav-item {
    margin-left: 0;
    margin-right: 0;
  }
  .navbar-toggler {
    float: right;
  }
  #logoItem {
    display: none;
  }
  #admin {
    display: none;
  }
  .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
  }
}

@media (min-width: 992px) {
  /* Styling for large screens */
  .navbar-collapse {
    justify-content: space-between;
  }
  .navbar-nav {
    flex-direction: row;
    margin-left: auto;
  }
}
